* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    min-width: 1000px;
}


.myinfo_section {
    background: rgba(0, 0, 0, 0.7) url("../../images/iisc_img4.jpg");
    background-size: cover;
    background-blend-mode: darken;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: top;
}


.myinfo_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 100px;
}

.large_text {
    font-size: 3rem;
    font-weight: 700;
    width: 95%;
    text-align: right;
}

.small_text {
    font-size: 2rem;
    font-weight: 300;
    width: 95%;
    text-align: right;
}

hr.hr1 {
    width: 70%;
    border-top: 2px solid rgba(255, 255, 255, 0.479);
}


.contact_info{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.5rem;
    margin-left: 50px;
    width: 40%;
}

.contact_info p{
    margin-top: 10px;
}


hr.hr_section_separator{
    border: 2px dashed gray;
    width: 95%;
    margin-inline: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* project overview css */

.gen_section{
    max-width: 1700px;
    margin-top: 50px;
    margin-inline: 100px;
}

.gen_section>h1{
    color: rgb(68, 68, 68);
    font-size: 2.5rem;
    margin-bottom: 12px;
    text-decoration: underline;
}

.project_subsection{
    margin-top: 30px;
    margin-inline: 70px;
}

.sub_project{
    margin-left: 100px;
    font-size: 1.3rem;
    text-align: justify;
}

.sub_project > h1{
    font-size: 2rem;
    margin-bottom: 7px;
    margin-left: -50px;
}

.sub_project > ul{
    margin: 15px 70px;
}

.sub_project > ul >li{
    margin-top: 10px;
}



